  <table width="100%" border="0">
    <tr style="backgound-color: #bbbbbb;">
      <th>Time</th>
      <th>Type</th>
      <th>Amount</th>
      <th>Balance</th>
    </tr>
    {foreach from=$journal item=j}
      <tr style="border-bottom: 1px solid #999999;">
        <td>{$j.date|date_format:"%d/%m/%Y %H:%M"}</td>
        <td>{$j.refType}</td>
        <td align="right">{$j.amount|eveNum}</td>
        <td align="right">{$j.balance|eveNum}</td>
      </tr>
    {/foreach}
  </table>
