/* =================================== */
/* basic colours for everything        */
/* =================================== */
.shadeLight {
    background: #252531;
}

.shadeMid {
    background: #2c2c38;
}

.shadeDark {
    background: #302d32;
}

.borderLight {
    border: 1px solid #2c2c38;
}

.borderMid {
    border: 1px solid #302d32;
}

.borderDark {
    border: 1px solid #666;
}

.textLight {
    color: #bbb;
}

/* =================================== */
/* page layout/conatainers             */
/* =================================== */

#header {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    height: 85px;
    margin-bottom: 10px;
    font-size: large;
    padding: 0px;
}

#container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

#containerPopup {
	left: 10px;
	right: 10px;
}

#main {
	margin-left: 200px;
}

#mainPopup {
}

#navigation {
    width: 190px;
    float: left;
}

#footer-wrapper {
	clear: both;
	margin-top: 50px;
}

/* =================================== */
/* base type things                   */
/* =================================== */

body {
	margin: 0;
	padding: 0;
	background: #080809;
	font-family: "Trebuchet MS", Verdana, Helvetica;
	font-size: small;
	color: #fff;
	background-image: url('images/header.jpg');
	background-repeat: repeat-x;
}

a {
	color: #ff8;
	text-decoration: none;
}

a:visited {
	color: #ff8;
	text-decoration: none;
}

.infoLink a, .infoLink a:visited {
	text-decoration: none;
	color: #fff;
	border-bottom: 1px dotted #fff;
}

img {
    border: 0px;
}

/* =================================== */
/* page header                         */
/* =================================== */

#header {
	font-size: large;
	padding: 0px;
}

#header .charSelect {
	float: right;
	background: #353338;
	border: 1px solid #666666;
	padding: 0px;
	margin: 5px;
	vertical-align: middle;
	height: 72px;
}

#header .chars {
	float: left;
	display: inline;
}

#header .selects {
	padding: 2px;
	float: left;
	width: 190px;
	display: inline;
}

#header .selects select {
	width: 180px;
	margin: 5px;
}

#header .chars img {
	padding: 4px;
}


/* =================================== */
/* footer...                           */
/* =================================== */

#footer {
    font-size: 1.3em;
    padding: 3px;
    background: #4d4d57;
    padding-right: 15px;
}

/* =================================== */
/* table bits                          */
/* =================================== */

th {
	border: 1px solid #666666;
	text-align: center;
	background: #4d4d57;
	font-size: 1.0em;
}

.sub {
	text-align: center;
	background: #2c2c38;
	font-weight: bold;
	color: #bbb;
}

.row {
}

.rowAlt {
	background: #121215;
}

/* =================================== */
/* various colours and things          */
/* =================================== */

.moneyOut {
	color: #b00;
}

.moneyIn {
	color: #090;
}

.bad {
	color: #b00;
}

.good {
	color: #090;
}

.maybe {
	color: #bb0;
}


/* =================================== */
/* menus                               */
/* =================================== */

#navigation .header {
	background: #353336;
	border: 1px solid #353336;
	font-weight: bold;
	text-align: left;
	padding: 3px;
}

#navigation .body {
	border-color: #302d31;
	border-style: none solid solid;
	border-width: 0px 1px 1px;
	margin-bottom: 10px;
	background: #121212;
}

.menu {
	width: 181px;
}

.menu ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.menu li {
    cursor: pointer;
}

.menu a {
	cursor: pointer;
	display: block;
	padding: 2px 2px 2px 5px;
	text-decoration: none;
	width: 100%;
}

.menu a:link, .menu a:active, .menu a:visited {
	color: #FFFFFF;
}

.menu a:hover {
	background: #353336;
	color: #fc0;
}

#navigation .menuNote {
	font-size: 1em;
	color: #ff6400;
	background-color: #ffffc8;
	border: 1px double #ff7e28;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 10px;
    width: 160px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

/* =================================== */
/* error messages and displays         */
/* =================================== */

#errorPopup {
	position: absolute;
	top: 0px;
	left: 20%;
	right: 20%;
	z-index: 1000;
	color: #000;
	background-color: #fb9;
	border: 3px double #d41;
	border-top: none;
	padding: 5px;
	text-align: left;
	font-weight: bold;
}

#errorPopup h3 {
	margin-top: 5px;
	margin-bottom: 5px;
	border-bottom: 1px solid #d41;
}

.error {
	font-size: 1.3em;
	color: #000;
	background-color: #f96;
	border: 4px double #d41;
	padding: 15px;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.apierror {
	border-bottom: 1px dotted #d41;
	padding-left: 10px;
	font-weight: normal;
}

.ok {
	font-size: 1.3em;
	color: #000;
	background-color: #9f6;
	border: 4px double #4d1;
	padding: 15px;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.note {
	font-size: 1.2em;
	color: #ff6400;
	background-color: #ffffc8;
	border: 1px double #ff7e28;
    -moz-border-radius: 10px;
    border-radius: 10px;
	padding: 15px;
	padding-left: 80px;
	width: 600px;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	background-image: url('images/note.png');
	background-repeat: no-repeat;
	background-position: left center;
}


/* =================================== */
/* style for filters and things on     */
/* the tops of pages with data lists   */
/* =================================== */

.listOptions {
	margin: 10px;
	margin-left: 2px;
}

.listOptions span {
	vertical-align: middle;
	font-size: 1.1em;
	padding: 10px;
	background: #302d32;	
	border: 1px solid #302d32;
}

.listOptions a {
    text-decoration: none;
}

/* =================================== */
/* pagination buttons...               */
/* =================================== */

.pageNav {
    border: 1px solid #b5b8b6;
    text-align: center;
    background: #e1e1e1;
}
