#header {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 84px;
}

#container {
	position: absolute;
	top: 95px;
	left: 10px;
	right: 10px;
}

#containerPopup {
	left: 10px;
	right: 10px;
}

#main {
	margin-left: 200px;
}

#mainPopup {
}

#navigation {
	float: left;
	width: 190px;
}

#footer-wrapper {
	clear: both;
	margin-top: 50px;
}

/* =================================== */

body {
	margin: 0;
	padding: 0;
	background: #ffffff;
	font-family: "Trebuchet MS", Verdana;
	font-size: small;
}

.a {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

infoLink a, .infoLink a:visited {
	text-decoration: none;
	color: #000;
	border-bottom: 1px dotted #00f;
}

#footer {
	font-size: 1.3em;
	padding: 3px;
	background: #E5E8E8;
	padding-right: 15px;
}

#header {
	font-size: large;
	padding: 0px;
	background: #E5E8E8;
}

#header .charSelect {
	float: right;
	background: #ffffff;
	border: 1px solid #afafaf;
	padding: 0px;
	margin: 5px;
	vertical-align: middle;
	height: 72px;
}

#header .chars {
	float: left;
	display: inline;
}

#header .selects {
	padding: 2px;
	float: left;
	width: 190px;
	display: inline;
}

#header .selects select {
	width: 180px;
	margin: 5px;
}

#header .chars img {
	padding: 4px;
}

/* =================================== */

th {
	border: 1px solid #E5E8E6;
	text-align: center;
	background: #EFEFEF;
	font-size: 1.0em;
}

.sub {
	text-align: center;
	background: #F3F3F3;
	font-weight: bold;
	color: #555;
}

/* =================================== */

.row {
}

.rowAlt {
	background: #F8F8F8;
}

.moneyOut {
	color: #b00;
}

.moneyIn {
	color: #090;
}

.pageNav {
	border: 1px solid #b5b8b6;
	text-align: center;
	background: #e1e1e1;
}

.bad {
	color: #b00;
}

.good {
	color: #090;
}

.maybe {
	color: #009;
}



/* =================================== */

img {
	border: 0px;
}

.adminForm {
}

.adminForm textarea {
	width: 100%;
	font-family: "Trebuchet MS", Verdana;
	font-size: 1.0em;
	height: 100px;
}

.adminForm label, .adminForm input, .adminForm select, .adminForm .inputDiv {
	display: block;
	width: 200px;
	float: left;
	margin-bottom: 10px;
}

.adminForm .inputDiv {
    height: 100px;
	overflow:auto;
	width: 350px;
	border: 1px solid #ddd;
}

.adminForm label {
	text-align: right;
	width: 150px;
	padding-right: 10px;
}

.adminForm br {
	clear: left;
}

.adminForm .inputDiv label, .adminForm .inputDiv input, .adminForm .inputDiv select {
	display: inline;
	float: none;
	margin-bottom: 0px;
	width: auto;
}

.adminForm .regular label, .adminForm .regular input, .adminForm .regular select {
	display: inline;
	float: none;
	margin-bottom: 0px;
	width: auto;
}

/* =================================== */

#navigation .header {
	background: #E5E8E6;
	border: 1px solid #E5E8E6;
	text-align: left;
	font-weight: bold;
	padding: 3px;
}

#navigation .body {
	border: 1px solid #E5E8E6;
	border-top: 0px;
	background: #EFEFEF;
	margin-bottom: 10px;
}

.menugroup {
	border-bottom: 10px solid #E5E8E6;
}

.menugroup .head {
	font-weight: bold;
}

.menu {
	width: 181px;
}

.menu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.menu li {
	cursor: pointer;
}

.menu a {
	display: block;
	width: 100%;
	padding: 2px 2px 2px 5px;
	text-decoration: none;
	cursor: pointer;
}

.menu a:link, .menu a:active, .menu a:visited {
	color: #000000;
}

.menu a:hover {
	background: #ffffff;
}

#navigation .menuNote {
	font-size: 1em;
	color: #ff6400;
	background-color: #ffffc8;
	border: 1px double #ff7e28;
    -moz-border-radius: 10px;
    border-radius: 10px;
	padding: 10px;
	width: 160px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	/*background-image: url('images/note.png');
	background-repeat: no-repeat;
	background-position: -5px top;
	padding-left: 55px;*/
}

#navigation .menuNote .icon {
	/*position: relative;
	left: -10px;
	top: -5px;*/
}


/* =================================== */

#errorPopup {
	position: absolute;
	top: 0px;
	left: 20%;
	right: 20%;
	z-index: 1000;
	color: #000;
	background-color: #fb9;
	border: 3px double #d41;
	border-top: none;
	padding: 5px;
	text-align: left;
	font-weight: bold;
}

#errorPopup h3 {
	margin-top: 5px;
	margin-bottom: 5px;
	border-bottom: 1px solid #d41;
}

.error {
	font-size: 1.3em;
	color: #000;
	background-color: #f96;
	border: 4px double #d41;
	padding: 15px;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.apierror {
	border-bottom: 1px dotted #d41;
	padding-left: 10px;
	font-weight: normal;
}

.ok {
	font-size: 1.3em;
	color: #000;
	background-color: #9f6;
	border: 4px double #4d1;
	padding: 15px;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.note {
	font-size: 1.2em;
	color: #ff6400;
	background-color: #ffffc8;
	border: 1px double #ff7e28;
    -moz-border-radius: 10px;
    border-radius: 10px;
	padding: 15px;
	padding-left: 80px;
	width: 600px;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	background-image: url('images/note.png');
	background-repeat: no-repeat;
	background-position: left center;
}


/* =================================== */

.listOptions {
	margin: 10px;
	margin-left: 2px;
}

.listOptions span {
	vertical-align: middle;
	font-size: 1.1em;
	padding: 10px;
	background: #f3f3f3;	
	border: 1px solid #e5e8e6;
}

.listOptions a {
    text-decoration: none;
}

/* =================================== */


#assetList {
}

#assetList .groupHead td {
	background: #f3f3f3;	
	font-weight: bold; 
	color: #555;
	cursor: hand;
	cursor: pointer;
	font-size: 1.1em;
}

#assetList .contents {
	border-left: 15px solid #fff; 
	margin:0px; 
	padding:0px;
}

#assetList .row td {
	border-bottom: 1px solid #f3f3f3;
}

/* =================================== */

#transactionList td {
	font-size: 0.9em;
}

/* =================================== */

#journalList td {
	font-size: 0.9em;
}

#journalList .sub, #journalList .sub td {
	text-align: left;
	background: #f3f3f3;
	font-weight: bold;
	color: #555;
	font-size: 1.1em;
}

/* =================================== */

#manufactureList td {
	font-size: 0.9em;
}

/* =================================== */

#orderList {
	font-size: 0.9em;
}

/* =================================== */

#killList {
}

#killList .killHead {
	background: #e5e8e6;
	border: 1px solid #ddd;
	margin: 3px;
	padding: 3px;
	cursor: hand;
	cursor: pointer;
}

#killList .killHead img {
	margin-right: 20px;
}

#killList .killHead h3 {
	margin: 3px;
}

#killList .killHead h4 {
	margin: 3px;
}

#killList .killDetail {
	padding: 3px;
	padding-top: 0px;
	margin-bottom: 15px;
}

#killList .title {
	background: #f3f3f3;
	border: 1px solid #e5e8e6;
	text-align: center;
	color: #555;
	font-size: 1.3em;
	font-weight: bold; 
	padding: 3px;
	margin-bottom: 3px;
}

#killList .subTitle {
	background: #fafafa;
	border: 1px solid #efefef;
	text-align: center;
	color: #555;
	font-size: 1.15em;
	font-weight: bold; 
	padding: 3px;
	margin-bottom: 3px;
}

#killList .killInvolvedParties {
	width: 50%;
	float: left;
}

#killList .killInvolvedParties td {
	font-size: 0.95em;
	text-align: left;
	vertical-align: middle;
}

#killList .killInvolvedParties img {
	padding-right: 5px;
}

#killList .killDroppedItems {
	width: 50%;
	float: right;
}

/* =================================== */

#rssFeeds {
}

#rssFeeds .feed {
	float: left; 
	border: 1px solid #e5e8e6; 
	width: 46%;
	margin: 5px;
}

#rssFeeds .feed h1 {
	background: #f3f3f3;
	border-bottom: 1px solid #e5e8e6;
	text-align: center;
	color: #555;
	font-size: 1.25em;
	font-weight: bold; 
	padding: 3px;
	margin: 0px;
	margin-bottom: 3px;
}

#rssFeeds .feed h2 {
	background: #fafafa;
	border-top: 1px solid #e5e8e6;
	border-bottom: 1px solid #e5e8e6;
	text-align: center;
	color: #555;
	font-size: 1.15em;
	font-weight: bold; 
	padding: 3px;
	margin: 0px;
	margin-top: 3px;
	margin-bottom: 3px;
}

#rssFeeds .item {
	padding: 15px;
}

/* =================================== */

#showInfo {
}

#showInfo h3 {
	margin: 3px;
}

#showInfo h4 {
	margin: 2px;
}

#showInfo td {
	font-size: 0.9em;
}

#showInfo .description .icon {
	width: 64px;
	float: left;
}

#showInfo .description .desc {
	margin-left: 70px;
	margin-right: auto;
	height: 100px;
	overflow: auto;
}



/* =================================== */

#mail {

}

.messageList {
    height: 300px;
    overflow: auto;
    margin-bottom: 5px;
    border: 1px solid #E5E8E6;
}

.messageList .message {
    cursor: pointer;
}

#mail .messageHeader {
    border: 1px solid #E5E8E6;
    background: #EFEFEF;
}

#mail .messageBody {
    border: 1px solid #E5E8E6;
}

#mail .messageContent {
    padding: 10px;
}