<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{$title}{if $pluginTitle} - {$pluginTitle}{/if}</title>
    <link href="{$site_url}/templates/{$theme}/style.css" rel="stylesheet" type="text/css" />
    {if $pluginCSS}<link href="{$site_url}/plugins/{$pluginCSS}" rel="stylesheet" type="text/css" />{/if}
    <script type="text/javascript" src="{$site_url}/includes/javascript/number-functions.js"></script>
    <script type="text/javascript" src="{$site_url}/includes/javascript/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="{$site_url}/includes/javascript/parseuri.js"></script>
  </head>
  <body>
    <div id="containerPopup">
      <div id="mainPopup">
        {$content}
      </div>
    </div>
  </body>
</html>